@import "tailwindcss";

/* Neumorphism base */
.neumorphic-btn {
  background: #e0e0e0;
  box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.neumorphic-btn:hover {
  box-shadow: inset 4px 4px 10px #bebebe, inset -4px -4px 10px #ffffff;
}

/* marquee */
@layer utilities {
  .animate-marquee {
    animation: marquee 700s linear infinite;
  }

  @keyframes marquee {
    0%   { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }
}

